@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#cf8782;
    --black-color:#040504;
    --red-color:#eb0505;
    --white-color:#fff;
    --gray-color:#fbf3df;
    --border: 0.2rem solid rgba(255,255,255,0.5);
}

/*--------------------------------------------------------------------------------GENEL BÖLÜM-----------------------------------------------------------------------------------*/

*{
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all 0.5sn ease-in-out;
}

html{
    font-size: 50%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------------------------BODY SECTION-----------------------------------------------------------------------------------*/

body{
    background-color: var(--main-color);
}

section{
    padding: 4.2rem 7%;
}

/*--------------------------------------------------------------------------------HEADER BÖLÜMÜ-----------------------------------------------------------------------------------*/
.header .logo img{
    height: 125px;
}

.header{
    background-color:rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
    margin: 2rem 10%;
    border-radius: 40rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a{
    color: var(--black-color);
    margin: 0 2.4rem ;
    font-size: 3.2rem;
    border-bottom: 0.1rem solid transparent;
    text-shadow: var(--black-color);

}

.header .navbar .active,
.header .navbar a:hover{
    border-color:var(--red-color);
    padding-bottom:0.8rem;
}
/*------------------------------------------------------- Body Part---------------------------------------------------------*/
.info{
    min-height: 100vh;
    background-image: url(/burger/img/newwwwwww.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -20.1rem;
    display: flex;
    align-items: center;
}
.info h1{
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
    text-shadow: #fbf3df;
    border-bottom: 3px solid var(--white-color);
    text-transform: uppercase;
}

.info .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem, 1fr));
    gap: 2rem;
}

.info .box-container .box{
    padding: 5rem;
    margin-top: 3rem;
    background-color: var(--gray-color);
    border-radius: 3.8rem;
    min-height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.info .box-container .box img{
    width: 80%;
    object-fit: right;

}

.info .box-container .box h3{
    font-size: 4rem;
    padding: 1.2rem 0;
}
.info .box-container .box p{
    font-size: 2rem;
}
.info .box-container .box h4{
    position:relative;
    bottom: -50px; 
    left:350px;
    color: var(--black-color);
    font-size: 2.0rem;
    font-weight: 600;
}

