@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#000000;
    --black-color:#040504;
    --red-color:#D42020;
    --white-color:#fff;
    --gray-color:#fbf3df;
    --border: 0.2rem solid rgba(255,255,255,0.5);
}
/*--------------------------------------------------------------------------------GENEL BÖLÜM-----------------------------------------------------------------------------------*/
*{
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all 0.5sn ease-in-out;
}
html{
    font-size: 50%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/*--------------------------------------------------------------------------------BODY SECTION-----------------------------------------------------------------------------------*/
body{
    background-color: var(--main-color);
}
section{
    padding: 4.2rem 7%;
}
/*--------------------------------------------------------------------------------HEADER BÖLÜMÜ-----------------------------------------------------------------------------------*/
.header .logo img{
    height: 125px;
}
.header{
    background-color:rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
    margin: 2rem 10%;
    border-radius: 40rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .navbar a{
    color: var(--black-color);
    margin: 0 2.4rem ;
    font-size: 4.2rem;
    border-bottom: 0.1rem solid transparent;
    text-shadow: var(--black-color);

}
.header .navbar .active,
.header .navbar a:hover{
    border-color:var(--red-color);
    padding-bottom:0.8rem;
}
/*------------------------------------------------------------------------------MENÜ BÖLÜMÜ 2.SAYFA--------------------------------------------------------------------------------*/
.menu {
    background-image: url('/burger/img/3d-render-spotlights-grunge-brick-wall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu h1{
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
    text-shadow: #fbf3df;
    border-bottom: 3px solid var(--white-color);
    text-transform: uppercase;
}
/* Scroll to bottom button */
#scrollToBottomBtn {
    background-color: rgb(181, 43, 43);
    border: none;
    border-radius: 4.2rem;
    width: 130px;
    height: 70px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 500;
    position: absolute;
    top: 165px;
    right: 120px;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem, 1fr));
    gap: 2.5rem;
}
.menu .box-container .box{
    padding: 4rem;
    margin-top: 3rem;
    background-color: var(--gray-color);
    border-radius: 3.8rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    opacity: 0.95;   
}
.menu .box-container .box .box-head img{
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    border-radius: 3.8rem;
}
.menu .box-container .box .box-head:hover img{
     transform: scale(1.05); 
}
.menu .box-container .box h3{
    font-size: 4rem;
    padding: 1.2rem 0;
}
.menu .box-container .box p{
    font-size: 1.7rem;
    text-transform: none;
}
.menu .box-container .box .box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; 
}
.menu .box-container .box .box-bottom .price p {
    font-size: 5.6rem;
    color: var(--black-color);
    margin-left:25rem;
}

.btn:hover{
    opacity: 0.75;
    transform: scale(1.1);
}
.btn{
    margin-top: 1.3rem;
    display: inline-block;
    padding: 2.6rem 4.2rem;
    border-radius: 36rem;
    color:var(--white-color);
    background-color:var(--red-color);
    font-size: 2.8rem;
    transition: transform 0.4s ease;
}
/*-----------------------------------------------------------------------------ORDER BÖLÜMÜ --------------------------------------------------------------------------------*/
#cart {
    position: relative;
    min-height: 500px;
    border-radius: 3.8rem;
    bottom: 0;   
    width: 75%;
    margin-left:180px;
    padding: 20px;
    background-color:var(--gray-color);
    opacity:0.95;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  }
  #cart h2 {
    margin-top: 0;
    font-size: 24px;
  }
  #cart-items {
    list-style: none;
    font-size: large;
    padding: 0;
    margin: 10px 0;
  }
  #cart-items li {
    margin-bottom: 5px;
  }
  #total {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  #checkout-form-container {
    position: absolute;
    height: 200px;
    top: 10px; 
    right: 50px; 
  } 
  #checkout-form label {
    display: block;
    margin-bottom: 5px;
  }
  #checkout-form textarea,
  #checkout-form input[type="text"] {
    width: 110%;
    padding: 8px;
    margin-bottom: 10px;
    
  }
  #checkout-form button {
    padding: 20px 35px;
    border-radius: 3.5rem;
    position: absolute;
    bottom: -270px;
    right: -20px;
    background-color:var(--red-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  #checkout-form button:hover {
    opacity: 0.75;
    transform: scale(1.1);
  }
/*--------------------------------------------------------------------------------FOOTER BÖLÜMÜ-----------------------------------------------------------------------------------*/
  .footer{
    background-color:var(--black-color);
    text-align: center;
}
.footer .credit{
    font-size: 2.8rem;
    color: var(--white-color);
    font-weight: 400;
    padding: 1rem 0; 
}
