
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#282626;
    --black-color:#040504;
    --red-color:#D42020;
    --white-color:#fff;
    --gray-color:#fbf3df;
    --border: 0.2rem solid rgba(255,255,255,0.5);
}

/*--------------------------------------------------------------------------------GENEL BÖLÜM-----------------------------------------------------------------------------------*/

*{
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all 0.5sn ease-in-out;
}

html{
    font-size: 50%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------------------------BODY SECTION-----------------------------------------------------------------------------------*/

body{
    background-color: var(--main-color);
}

section{
    padding: 4.2rem 7%;
}

/*--------------------------------------------------------------------------------HEADER BÖLÜMÜ-----------------------------------------------------------------------------------*/

.header .logo img{
    height: 125px;
}

.header .logo img{
    height: 125px;
}

.header{
    background-color:rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5%;
    margin: 2rem 10%;
    border-radius: 40rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a{
    color: var(--black-color);
    margin: 0 2.4rem ;
    font-size: 4.2rem;
    border-bottom: 0.1rem solid transparent;
    text-shadow: var(--black-color);

}

.header .navbar .active,
.header .navbar a:hover{
    border-color:var(--red-color);
    padding-bottom:0.8rem;
}



/*--------------------------------------------------------------------------------HOME BÖLÜMÜ-----------------------------------------------------------------------------------*/

.home{
   min-height: 100vh;
   background: url(/burger/img/top-view-burger-fries-with-sauces-copy-space.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   margin-top: -20.1rem;
   display: flex;
   align-items: center;
}

.home .content{
    max-width: 72rem;
}

.home .content h3{
    font-size: 11.2rem;
    color: var(--red-color);
}

.home .content p{
    font-size: 3.2rem;
    color: var(--white-color);
    font-weight: 350;
    line-height: 1.8;
    padding: 1.4rem 0;
}

.btn{
    margin-top: 1.3rem;
    display: inline-block;
    padding: 2.6rem 4.2rem;
    border-radius: 36rem;
    color:var(--white-color);
    background-color:var(--red-color);
    font-size: 2.8rem;
    transition: transform 0.4s ease;
}


  
  .winner .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
    opacity: 0.85;
    
  }
  
  .winner .box-container .box {
    margin-top: 4rem;
    border: var(--white-color);
    text-align: center;
    padding: 3rem 2.2rem;
    background-color: var(--gray-color);
    border-radius: 3.8rem;
    height:50rem;
    display: flex;
    width:100%;

  }
  
  .winner .box-container .box p {
    font-size: 1.7rem;
    font-weight: 350;
    line-height: 1.8;
    padding: 1.4rem 0;
    font-family: "Poppins", sans-serif;
    min-height: 20rem;
    overflow: auto;
    text-transform: none;
  }
  
  .winner .box-container .box h3 {
    font-size: 3.2rem;
    align-items: center;
    color:#D42020;
  }
  
  
  .winner .box-container .box .box-content {
    display: flex;
    width: 100%;
  }
  
  .winner .box-container .box .image-container {
    flex:1;
    padding: 2rem;
  }
  
  .winner .box-container .box .image-container img {
    width: 80%;
    height:100%;
    border-radius: 3.8rem;
    min-height: 25rem;
  }
  
  .winner .box-container .box .text-container {
    flex:1;
    padding: 2rem;
  }
  
  
  
  .winner .box-container .box .text-container p {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  
  

  .winner .box-container .box .box-head {
    position: relative; 
  }
  .footer{
    background-color:var(--black-color);
    text-align: center;
}

.footer .credit{
    font-size: 2.8rem;
    color: var(--white-color);
    font-weight: 400;
    padding: 1rem 0; 
}
